.contenedorProductos{
    background: rgba(46, 44, 44, 0.253);
    position: relative;
    width: 70%;
    height: 100%;
    align-self: center;
    left:15%;
}
.cuerpoProductos{
    background:white;
}